/* Add this CSS to your stylesheet to style the expanded card */
/* .hotel-card.expanded {
    height: 400px;
    background-color: #ffff;
    transition: height 0.3s ease; 
  } */

  /* .hotel-card{
    background-color:#3D4454 ;
  } */



  .custom-card {
    background-color: #3D4454;
  }
  

